body {
    padding: 0;
    margin: 0;
}
html {
    background-image: url("/static/main/img/fon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border: 3px solid black;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 1%
    }

    .block {
        width: 405px;
        height: 190px;
        border: 3px solid black;
        border-radius: 1%;
        justify-content: center;
        display: flex;
        align-items: center;
        position: relative;
    }

    .block::before {
        content: "";
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #7f8047;
        position: absolute;
        opacity: 0.7;

    }

    .block_one {
        float: left;
        margin: 20px;
    }

    .block_two {
        float: left;
        margin: 20px;
    }

    .block_three {
        float: left;
        margin: 20px;
    }

    .block_four {
        float: left;
        margin: 20px;
    }

}
.text {
    color: #000000;
    font-weight: bolder;
    position: relative;
}

a {
  font-size: 150%;
  transition: font-size 0.3s;
}

a:hover {
  font-size: 200%;
}

.alert-warning{
    float: left;
    clear; both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

span {
    float: left;
    clear; both;
    width: 600px;
    height:300px;
    margin: 20px 34%;
    text-align: center;
}
